
venv
.vscode
.coverage
coverage-report
dist/
**/.mutmut-cache
**/.mypy_cache
**/.pytest_cache
**/__pycache__
**/*.egg-info
**/*.pyc
**/.DS_Store
QD.sql
meeting_notes*
**/build
**/node_modules/**
**/uploads/**
test_*.html