name: Run tests

on: push

jobs:
  unittest:
    name: Run the unit test and linter
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v3

      # Select correct version of Python
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      # Deploy the docker compose environment
      - name: Deploy docker compose environment to run tests
        run: |
          cd deploy && docker-compose up -d

      # Install invoke
      - name: Install setuptools and invoke
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install invoke

      # Install the python package
      - name: Install python package
        run: |
          invoke install --dev

      # Run the unit tests
      - name: Run unit tests
        run: |
          invoke test --coverage
